.header__logo {
  width: 142px;
  height: 33px;
  /*margin: 45px 0 41px 27px;*/
  object-fit: contain;
}

@media (max-width: 880px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}